<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookworm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewMembersActivity"></activity>
        <activity android:name=".DisplayReviewActivity" />
        <activity android:name=".AdminDeleteActivity" />
        <activity android:name=".MemberSettingActivity" />
        <activity android:name=".ViewClubInfo2Activity" />
        <activity android:name=".ClubBooksActivity" />
        <activity android:name=".BookDetails2Activity" />
        <activity android:name=".Genres2Activity" />
        <activity android:name=".ViewClubInfoActivity" />
        <activity android:name=".EditClubDescActivity" />
        <activity android:name=".ViewMeetingActivity" />
        <activity android:name=".MyBooksActivity" />
        <activity android:name=".ProfileDetailsActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".CreateBookClubActivity" />
        <activity android:name=".AllClubsActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AccountSetUpActivity" />
        <activity android:name=".AdminMeetUpActivity" />
        <activity android:name=".AdminSettingsActivity" />
        <activity android:name=".BookClubAdminActivity" />
        <activity android:name=".BookClubMemberActivity" />
        <activity android:name=".JoinClubActivity" />
        <activity android:name=".RateBookActivity" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".bookListViewActivity"
            android:label="@string/title_activity_book_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FindFriendsActivity" />
        <activity android:name=".BookDetailsActivity" />
        <activity android:name=".GenresActivity" />
        <activity android:name=".BlankActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>